* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Epilogue", sans-serif;
  background-color: #ece9fd;
}

ol {
  list-style: none;
}

.container {
  max-width: 330px;
  margin: 3.75rem auto;
}

h2 {
  font-weight: 400;
  line-height: 2rem;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #7158ef;
  margin-bottom: 1rem;
}

h1 {
  font-weight: 800;
  font-size: 2.5rem;
  line-height: 3rem;
  color: #090039;
  margin-bottom: 1rem;
}

p {
  font-weight: 400;
  line-height: 2rem;
  color: rgba(10, 0, 57, 0.64);
  margin-bottom: 2rem;
}

a {
  display: block;
  font-weight: 400;
  line-height: 2rem;
  color: #090039;
  margin-bottom: 4.5rem;
  text-decoration: none;
}

ol {
  display: flex;
  flex-direction: column;
  gap: 64px;
}

ol li {
  display: flex;
  gap: 60px;
  align-items: center;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #090039;
}

ol li span {
  font-size: 4.5rem;
}

@media screen and (min-width: 912px) {
  .container {
    max-width: 1024px;
    margin: 8rem auto;
  }

  .flex {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
  }

  h1,
  p {
    width: 484px;
  }

  a:hover {
    text-decoration: underline;
  }
}
